<h1>Home</h1>
<h3>Bienvenidos a la mejor tienda de papelería Geek</h3>
<h4>Vista de todos los productos</h4>

<ul id="products" class="collection">
    {{#each products}}

    <li class="collection-item">
        <span>Producto: </span>  
        {{ this.title }} 
        <span>: </span> 
        {{ this.description }}
        <span> - Precio: </span> 
        ${{ this.price }}
        <span> - Code: </span> 
        {{ this.code }}
        <span> - Stock: </span> 
        {{ this.stock }}
        <span> - Categoría: </span> 
        {{ this.category }}
        
    </li>
    {{/each}}
</ul>